lazada
{
  "updatedAt": "2026-01-07T04:11:56.000Z",
  "createdAt": "2025-12-01T07:07:53.756Z",
  "id": "tiEbDt4UmuOiRcLl",
  "name": "LAZADA",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "fileFolder",
        "queryString": "=",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Config Folder & Brand1').item.json.folder_Lazada }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1168,
        224
      ],
      "id": "d20ae79e-db1e-4945-8df9-177e8d32f304",
      "name": "Search files and folders LAZADA1",
      "executeOnce": true,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 1000,
      "credentials": {
        "googleApi": {
          "id": "1w4Q3todiZw4BNKd",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a74b3118-d2f8-45fa-9986-b7a2960c9dd3",
              "leftValue": "={{ $json.name.toLowerCase() }}",
              "rightValue": "={{ \"((\" + $('Config variable for regex1').item.json.monthShortName.toLowerCase() + \"|\" + $('Config variable for regex1').item.json.monthName.toLowerCase() + \")[\\\\w\\\\s.-]*)\" +$('Config variable for regex1').item.json.year   }}",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "d9477a7a-5c89-4542-9e37-f29007190aff",
              "leftValue": "={{ $json.name.toLowerCase() }}",
              "rightValue": "={{ \".*\" + $('Config Folder & Brand1').item.json.brandName.toLowerCase() + \".*\" }}",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "f8037708-e455-4f25-8f75-857120dcde03",
              "leftValue": "={{ $json.name.toLowerCase() }}",
              "rightValue": "={{ \".*\" + \"lazada\".toLowerCase() + \".*\" }}",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -944,
        224
      ],
      "id": "ae20e65a-6edc-43e5-827e-72b41e6b6b8d",
      "name": "Filterfiles_Lazada1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -256,
        400
      ],
      "id": "c69c08e6-fadc-4192-8f8b-d7403fc47c49",
      "name": "Download file Lazada1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 1000,
      "credentials": {
        "googleApi": {
          "id": "1w4Q3todiZw4BNKd",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a6fd955-432c-4927-a125-d21c59d0724b",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -720,
        224
      ],
      "id": "eb76bb98-ff36-45df-82d6-2b0658057305",
      "name": "If have file4"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "includeEmptyCells": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -240,
        608
      ],
      "id": "1d16f483-2e83-4187-8ab3-d52c5d7c692e",
      "name": "Extract from File Lazada1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {
          "headerRow": false
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1264,
        192
      ],
      "id": "0b678141-4188-47d8-9bef-fbb1d781564a",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "command": "echo >> /home/node/final_report.csv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1696,
        192
      ],
      "id": "853fbca5-db9d-4fac-af7c-5325316de473",
      "name": "enter new line1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1744,
        224
      ],
      "id": "6d1da0d8-9e85-4784-a3c1-aa47b50aadc6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -256,
        208
      ],
      "id": "d118a092-0f6c-4fcd-82d8-0af01192a3cb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "batchSize": 2000,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        192
      ],
      "id": "56d7bc04-7316-4123-8e65-e3fa73135549",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\n\nconst date = new Date();\n// ถอยหลังไป 1 เดือน (วันสุดท้ายของเดือนที่แล้ว)\ndate.setDate(0); \n\nconst monthNames = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\",\n  \"July\", \"August\", \"September\", \"October\", \"November\", \"December\"\n];\nconst monthShortNames = [\"Jan\", \"Feb\", \"Mar\", \"Apr\", \"May\", \"Jun\",\n  \"Jul\", \"Aug\", \"Sep\", \"Oct\", \"Nov\", \"Dec\"\n];\n\nreturn {\n  year: date.getFullYear().toString(),\n  monthNumber: ('0' + (date.getMonth() + 1)).slice(-2),\n  monthName: monthNames[date.getMonth()],\n  monthShortName: monthShortNames[date.getMonth()]\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        224
      ],
      "id": "00ceee19-f5d7-450a-a737-01f7672be19c",
      "name": "Config variable for regex1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "104447ca-270c-4c63-8ac3-31120cc42ce6",
              "name": "=brandName",
              "value": "={{ $json.body.brand_name }}",
              "type": "string"
            },
            {
              "id": "97ae91e5-545c-4a51-b522-1feb5d4f1b21",
              "name": "folder_Lazada",
              "value": "1bE7f_Qozkl7OSH6TE_1Ju3ct4hSFlfCL",
              "type": "string"
            },
            {
              "id": "5ed80f42-ebc6-41d6-be6e-29448772e4a3",
              "name": "folder_Archive",
              "value": "13iVrXbXVcvAE6cAGU1enFAarUih5L8Ar",
              "type": "string"
            },
            {
              "id": "09b26435-9769-44cb-b437-39fa5f88e95e",
              "name": "folder_final_reports",
              "value": "1f5B2RL2a9QnEFCK0GkMD8zTOlWYh5cRd",
              "type": "string"
            },
            {
              "id": "43e2d48c-c0cd-42f1-b4dc-c0dd0136506b",
              "name": "parent_drive",
              "value": "1TYSAJPuU9njhxnzFCilbxCkDt4f90k7X",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1536,
        224
      ],
      "id": "ba33395e-d669-4b98-a0d3-98558616d0a8",
      "name": "Config Folder & Brand1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "de1c9d75-5771-4e1b-84d0-6567857606f2",
              "leftValue": "={{ $json.error }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        208
      ],
      "id": "ed2476b1-44e9-45b8-b86b-cd572a2778b3",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.googleapis.com/v1/spaces/AAQA4vVH8yY/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=mDogCDO_DXBkboDcHu6YLs8nds4F589Y7-Gh6mwsNNI",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🚨{{ $('Config Folder & Brand1').first().json.brandName }}\nแจ้งเตือนไฟล์ผิดพลาด\n{{ $json.errorMessage }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        928,
        432
      ],
      "id": "e4b68627-9867-4e00-b50a-3c19f4d095f5",
      "name": "Notify",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// ส่งสัญญาณบอกตัวแม่ว่า \"จัดการแล้วจ้า\"\nreturn [{\n    json: {\n        errorHandled: true\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        608
      ],
      "id": "23719a0c-10e9-46bd-ad81-9960c0b7ad26",
      "name": "error to main"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst allFiles = $('Filterfiles_Lazada1').all().map(item => item.json);\n\nreturn allFiles.map(file => {\n  return {\n    json: {\n      fileId: file.id\n    }\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        16
      ],
      "id": "ece8e1ec-e122-417a-baa2-09bd8138b4c3",
      "name": "Extract fileID",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// ================= CONFIG =================\nconst currentPlatform = 'Lazada'; \nconst requiredColumns = [\n  'orderNumber',\n  'status',\n  'buyerFailedDeliveryReturnInitiator',\n  'sellerSku',\n  'itemName',\n  'payMethod',\n  'unitPrice',\n  'paidPrice',\n  'sellerDiscountTotal',\n  'createTime',\n  'deliveredDate'\n];\n// ==========================================\n\nconst items = $input.all();\nconst returnData = [];\n\n// 🛡️ PART 1: VALIDATION CHECK\n// เช็คว่ามีข้อมูลไหม\nif (!items.length || !items[0].json) {\n  // แทนที่จะ throw เรา return ค่า Error ออกไปตรงๆ\n  return [{\n    json: {\n      error: true,\n      errorMessage: `⚠️ [${currentPlatform}] ไม่พบข้อมูล Input (Empty Dataset)`\n    }\n  }];\n}\n\nconst firstRow = items[0].json;\nconst actualKeys = Object.keys(firstRow).map(k => k.trim().toLowerCase());\n\n// หาคอลัมน์ที่หาย\nconst missingColumns = requiredColumns.filter(reqCol => {\n  return !actualKeys.includes(reqCol.toLowerCase());\n});\n\n// 🚨 ถ้าเจอคอลัมน์หาย\nif (missingColumns.length > 0) {\n  const missingList = missingColumns.join(', ');\n  // ส่งออกไปบอก Node ถัดไปว่า \"ฉันพังนะ\" พร้อมข้อความเต็มๆ\n  return [{\n    json: {\n      error: true,\n      errorMessage: `⚠️ [${currentPlatform}] ข้อมูลไม่ครบ! ขาดคอลัมน์: ${missingList}`\n    }\n  }];\n}\n\n// ⚙️ PART 2: TRANSFORMATION (ถ้าผ่าน ด่านนี้ถึงจะทำงาน)\nfor (const item of items) {\n  const row = item.json; \n  \n  const get = (colName) => {\n    if (!colName) return null;\n    const key = Object.keys(row).find(k => k.trim().toLowerCase() === colName.trim().toLowerCase());\n    return key ? row[key] : null;\n  };\n\n  const unitPrice = parseFloat(get('unitPrice')) || 0;\n  \n  const finalRow = {\n      \"Platform name\": currentPlatform,\n      \"Order ID\": get('orderNumber'),\n      \"Order status\": get('status'),\n      \"Cancelation/Return Type\": get('buyerFailedDeliveryReturnInitiator'),\n      \"Seller SKU\": get('sellerSku'),\n      \"Product Name\": get('itemName'),\n      \"Payment Method\": get('payMethod'),\n      \"Quantity\": 1, \n      \"Quantity of return\": null,\n      \"SKU Unit Original Price\": null,\n      \"SKU Subtotal Before Discount\": unitPrice,\n      \"SKU Subtotal After Discount\": get('paidPrice'),\n      \"Direct Discount\": null, \n      \"Voucher Discount\": get('sellerDiscountTotal'),\n      \"Created Time\": get('createTime'),\n      \"Delivered Time\": get('deliveredDate')\n  };\n\n  returnData.push({ json: finalRow });\n}\n\nreturn returnData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        208
      ],
      "id": "189bd087-8953-4851-86f8-3041945f482e",
      "name": "Data Transformation LZ"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/final_report.csv",
        "options": {
          "append": true
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1488,
        192
      ],
      "id": "d35dd7e2-385c-4736-833f-d0615c7cce25",
      "name": "Write Files from Disk1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1b71cf16-409e-4132-8461-57ccdc42fd90",
              "leftValue": "={{ $json.error }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -592,
        1088
      ],
      "id": "7eb38ba2-700c-448a-8f5c-37847688f020",
      "name": "error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.googleapis.com/v1/spaces/AAQA4vVH8yY/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=mDogCDO_DXBkboDcHu6YLs8nds4F589Y7-Gh6mwsNNI",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🚨{{ $('Config Folder & Brand1').first().json.brandName }}\nแจ้งเตือนไฟล์ผิดพลาด\n{{ $json.errorMessage }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        1088
      ],
      "id": "c572047c-e819-4519-9396-6f61ff8d4f32",
      "name": "Notify1",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// ================= CONFIGURATION =================\nconst currentPlatform = 'Lazada'; // เปลี่ยนเป็น Shopee, Tiktok ตาม Workflow\n\n// ใส่รายชื่อ Header ที่ \"คาดหวังว่าจะเจอ\" (ต้นฉบับที่ถูกต้อง)\nconst expectedColumns = [\n  'orderItemId',\n  'orderType',\n  'Guarantee',\t\n  'deliveryType',\t\n  'lazadaId',\t\n  'sellerSku',\t\n  'lazadaSku',\n  'wareHouse',\t\n  'createTime',\t\n  'updateTime',\n  'rtsSla',\t\n  'ttsSla',\n  'orderNumber',\n  'invoiceRequired',\n  'invoiceNumber',\t\n  'deliveredDate',\n  'customerName',\t\n  'customerEmail',\t\n  'nationalRegistrationNumber',\t\n  'shippingName',\t\n  'shippingAddress',\t\n  'shippingAddress2',\t\n  'shippingAddress3',\t\n  'shippingAddress4',\t\n  'shippingAddress5',\t\n  'shippingPhone',\t\n  'shippingPhone2',\n  'shippingCity',\t\n  'shippingPostCode',\t\n  'shippingCountry',\t\n  'shippingRegion',\t\n  'billingName',\n  'billingAddr',\t\n  'billingAddr2',\t\n  'billingAddr3',\t\n  'billingAddr4',\t\n  'billingAddr5',\t\n  'billingPhone',\t\n  'billingPhone2',\t\n  'billingCity',\t\n  'billingPostCode',\t\n  'billingCountry',\t\n  'taxCode',\t\n  'branchNumber',\t\n  'taxInvoiceRequested',\t\n  'payMethod',\t\n  'paidPrice',\t\n  'unitPrice',\t\n  'sellerDiscountTotal',\t\n  'shippingFee',\n  'walletCredit',\t\n  'itemName',\t\n  'variation',\t\n  'cdShippingProvider',\t\n  'shippingProvider',\t\n  'shipmentTypeName',\t\n  'shippingProviderType',\t\n  'cdTrackingCode',\t\n  'trackingCode',\t\n  'trackingUrl',\t\n  'shippingProviderFM',\t\n  'trackingCodeFM',\t\n  'trackingUrlFM',\t\n  'promisedShippingTime',\t\n  'premium',\t\n  'status',\t\n  'buyerFailedDeliveryReturnInitiator',\n  'buyerFailedDeliveryReason',\t\n  'buyerFailedDeliveryDetail',\t\n  'buyerFailedDeliveryUserName',\t\n  'bundleId',\t\n  'semiManaged',\t\n  'flexibleDeliveryTime',\t\n  'bundleDiscount',\t\n  'refundAmount',\n  'sellerNote'\n\n];\n// =================================================\nconst items = $input.all();\n\n// ฟังก์ชันตรวจสอบ\nfunction getValidationError(json) {\n  if (!json) return null;\n  const actualHeadersRaw = Object.keys(json);\n  const actualHeadersNorm = actualHeadersRaw.map(k => k.trim().toLowerCase());\n  const expectedHeadersNorm = expectedColumns.map(k => k.trim().toLowerCase());\n\n  const missingColumns = expectedColumns.filter(reqCol => {\n    return !actualHeadersNorm.includes(reqCol.trim().toLowerCase());\n  });\n\n  const extraColumns = actualHeadersRaw.filter(actCol => {\n    return !expectedHeadersNorm.includes(actCol.trim().toLowerCase());\n  });\n\n  const countDiff = actualHeadersRaw.length - expectedColumns.length;\n\n  if (missingColumns.length > 0 || extraColumns.length > 0 || countDiff !== 0) {\n    let errorDetails = [];\n    if (countDiff !== 0) errorDetails.push(`🔢 จำนวน: ${actualHeadersRaw.length} (คาดหวัง ${expectedColumns.length})`);\n    if (missingColumns.length > 0) errorDetails.push(`❌ หาย: ${missingColumns.join(', ')}`);\n    if (extraColumns.length > 0) errorDetails.push(`🆕 เกิน: ${extraColumns.join(', ')}`);\n\n    return `⚠️ [${currentPlatform}] โครงสร้างเปลี่ยน!\\n` + errorDetails.join('\\n');\n  }\n  return null;\n}\n\n// ================= MAIN LOGIC =================\n\n// 1. เช็คข้อมูล Input\nif (!items.length || !items[0].json) {\n   // กรณีไม่มีข้อมูลเลย ให้สร้าง item ปลอมๆ ขึ้นมาเพื่อส่ง error ออกไป\n   return [{\n     json: { error: true, errorMessage: `⚠️ [${currentPlatform}] ไม่พบข้อมูล Input` }\n   }];\n}\n\n// 2. ตรวจสอบจาก item แรก (ตัวแทนหมู่บ้าน)\nconst errorMsg = getValidationError(items[0].json);\n\n// 3. ถ้าเจอ Error -> \"แปะป้าย\" Error ลงไปในข้อมูลทุกตัว แต่ส่งข้อมูลเดิมกลับไป\nif (errorMsg) {\n  return items.map(item => {\n    // เก็บข้อมูลเดิมไว้ครบถ้วน\n    return {\n      json: {\n        ...item.json,       // ข้อมูล Transaction เดิม (Order ID, Price, ฯลฯ)\n        error: true,        // 🚩 ธงแดง\n        errorMessage: errorMsg // ข้อความแจ้งเตือน\n      }\n    };\n  });\n}\n\n// 4. ถ้าปกติ -> ส่งข้อมูลเดิมออกไปเลย (ทางผ่าน)\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        864
      ],
      "id": "3119fbd1-57be-4a19-80d0-a52a6fe48ca1",
      "name": "validate header"
    }
  ],
  "connections": {
    "Search files and folders LAZADA1": {
      "main": [
        [
          {
            "node": "Filterfiles_Lazada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filterfiles_Lazada1": {
      "main": [
        [
          {
            "node": "If have file4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file Lazada1": {
      "main": [
        [
          {
            "node": "Extract from File Lazada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If have file4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File Lazada1": {
      "main": [
        [
          {
            "node": "validate header",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Config Folder & Brand1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file Lazada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Extract fileID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Data Transformation LZ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enter new line1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Folder & Brand1": {
      "main": [
        [
          {
            "node": "Config variable for regex1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config variable for regex1": {
      "main": [
        [
          {
            "node": "Search files and folders LAZADA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify": {
      "main": [
        [
          {
            "node": "error to main",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Transformation LZ": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Files from Disk1": {
      "main": [
        [
          {
            "node": "enter new line1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate header": {
      "main": [
        [
          {
            "node": "error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify1": {
      "main": [
        [
          {
            "node": "Extract fileID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "53427897-8ca4-400c-a4b4-c9d857177649",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-01T07:07:53.758Z",
      "createdAt": "2025-12-01T07:07:53.758Z",
      "role": "workflow:owner",
      "workflowId": "tiEbDt4UmuOiRcLl",
      "projectId": "wgOKw36KVCTZkEHc"
    }
  ],
  "tags": []
}